/* general styling */




.container2 {
  color: rgb(255, 255, 255);
  margin: 0 auto;
  text-align: center;
  padding-top: 0px;
  
}
}

h1 {
font-weight: normal;
letter-spacing: .5rem;
text-transform: uppercase;
}

li1 {
display: inline-block;
font-size: 1.2em;
list-style-type: none;
padding: 1em;
text-transform: uppercase;
}

li span {
display: block;
font-size: 1.7rem;
}

.message {
font-size: 4rem;
display: none;
padding: 1rem;
}

.emoji {
padding: 0 .25rem;
}
@media all and (max-width: 768px) {
  .container2 {
    color: rgb(255, 255, 255);
    margin: 0 auto;
    text-align: center;
    padding-top: 0px;
    
  }
}

h1 {
  font-weight: normal;
  letter-spacing: .025rem;
  text-transform: uppercase;
}

li1 {
  display: inline-block;
  font-size: 1.2em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 1.7rem;
}

.message {
  font-size: 4rem;
  display: none;
  padding: 1rem;
}

.emoji {
  padding: 0 .25rem;
}

@media all and (max-width: 768px) {
  .container2 {
    color: rgb(255, 255, 255);
    margin: 0 auto;
    text-align: center;
    padding-top: 0px;
    
  }
}

h1 {
  font-weight: normal;
  letter-spacing: .5rem;
  text-transform: uppercase;
}

li1 {
  display: inline-block;
  font-size: 1.2em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 1.7rem;
}

.message {
  font-size: 4rem;
  display: none;
  padding: .5rem;
}

.emoji {
  padding: 0 .25rem;
}
}